.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.btn-group button {
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 15px;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.05);
    font-weight: 600;

    }

    .btn-group button:hover {
        transform: scale(1.05);
        transition: transform ease-in-out 0.5s;
        opacity: 0.8;

    }
     button  ion-icon{
        text-decoration: none;
        height: 1.5rem;
        width: 1.5rem;

    }

    
