@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
  margin: 0;
  padding: 0;

}

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  max-width: 800px;
  margin: 0 auto;
  background-color: #333;

}

.App {
  text-align: center;
}

header {
  background-color: lightskyblue;
  color: #fff;
  padding: 5em;

}
